{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ver-Opira FC</title>
	<link href="{% static 'assetsfcv/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assetsfcv/css/global.css' %}" rel="stylesheet">
	<link href="{% static 'assetsfcv/css/index.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'assetsfcv/css/font-awesome.min.css' %}" />
	<link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
	<script src="{% static 'assetsfcv/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'assetsfcv/js/bootstrap.min.js' %}"></script>

  </head>
<body>
<section id="top">
 <div class="container">
  <div class="row">
   <div class="top_1 clearfix">
    <div class="col-sm-8">
	 <div class="top_1l clearfix">
	  <ul>
	   <li><i class="fa fa-envelope-o col_1"></i> <a class="col_2" href="#">fcveropira@gmail.com</a></li>
	   <li class="col_2"><i class="fa fa-street-view col_1"></i> Mehara-Porlamano-veropira</li>
	   <li><i class="fa fa-phone col_1"></i> <a class="col_2" href="#">76221089</a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_1r text-right clearfix">
	  <ul class="social-network social-circle mgt">
                        <!-- <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li> -->
                        <li><a href="https://www.facebook.com/profile.php?id=100063439677089#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <!-- <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li> -->
                        <!-- <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li> -->
                        <!-- <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> -->
                    </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header_t">
 <div class="container">
  <div class="row">
   <div class="header_t1 clearfix">
    <div class="col-sm-4">
	 <div class="header_t1l clearfix">
	   <h2><a class="col" href="index.html"><img src="{% static 'assetsfcv/img/logo_fcv.png' %}" alt="Club Logo" class="logo"> Ver-Opira <span class="col_1">FC </span></a></h2>
	 </div>
	</div>
	<div class="col-sm-4">
	  <div class="header_t1m clearfix">
	   <p class="col_welcome">Welcome to the Official Website of Ver-Opira FC</p>
	  </div>
	</div>
	<div class="col-sm-4">
	  <div class="header_t1r clearfix">
	   <!-- <div class="input-group clearfix">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">
							<i class="fa fa-search"></i></button>
					</span>
				 </div> -->
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header" class="clearfix cd-secondary-nav">
	<nav class="navbar nav_t">
		<div class="container">
		    <!-- <div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="col navbar-brand" href="index.html"><img src="{% static 'assetsfcv/img/logo_fcv.png' %}" alt="Club Logo" class="logo">  Ver-Opira <span class="col_1">FC </span></a>
			</div> -->
			<!-- Brand and toggle get grouped for better mobile display -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  	 <ul class="nav navbar-nav">
				<li><a class="m_tag active_tab" href="index.html">Home</a></li>
				<li><a class="m_tag" href="about.html">About</a></li>
				<li><a class="m_tag" href="services.html">Services</a></li>
				<li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Blog<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
					    <li><a href="blog.html">Blog</a></li>
						<li><a class="border_none" href="blog_detail.html">Blog Detail</a></li>
					  </ul>
                   </li>
				<li><a class="m_tag" href="team.html">Team</a></li>
				<li><a class="m_tag" href="contact.html">Contact</a></li>
				<li class="dropdown">
					  <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Pages<span class="caret"></span></a>
					  <ul class="dropdown-menu drop_3" role="menu">
					    <li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="team.html">Team</a></li>
						<li><a class="border_none" href="contact.html">Contact</a></li>
					  </ul>
                   </li>
			</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	
</section>

<section id="center" class="clearfix center_home">
 <div class="center_home_m clearfix">
   <div class="carousel slide article-slide" id="article-photo-carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner cont-slider">
<div class="item active">
  <img alt="abc" class="iw" src="{% static 'assetsfcv/img/1.jpg' %}">
</div>
<div class="item">
  <img alt="abc" class="iw" src="{% static 'assetsfcv/img/2.jpg' %}">
</div>
<div class="item">
  <img alt="abc" class="iw" src="{% static 'assetsfcv/img/3.jpg' %}">
</div>
<div class="item">
  <img alt="abc" class="iw" src="{% static 'assetsfcv/img/4.jpg' %}">
</div>
<div class="item">
  <img alt="abc" class="iw" src="{% static 'assetsfcv/img/5.jpg' %}">
</div>
<div class="item">
  <img alt="abc" class="iw" src="{% static 'assetsfcv/img/6.jpg' %}">
</div>

  <!-- Indicators -->
<!-- <ol class="carousel-indicators">
  <li data-target="#article-photo-carousel" data-slide-to="0" class="active">
    <img alt="thumb 1" src="{% static 'assetsfcv/img/1.jpg' %}">
  </li>
  <li data-target="#article-photo-carousel" data-slide-to="1">
    <img alt="thumb 2" src="{% static 'assetsfcv/img/2.jpg' %}">
  </li>
  <li data-target="#article-photo-carousel" data-slide-to="2">
    <img alt="thumb 3" src="{% static 'assetsfcv/img/3.jpg' %}">
  </li>
  <li data-target="#article-photo-carousel" data-slide-to="3">
    <img alt="thumb 4" src="{% static 'assetsfcv/img/4.jpg' %}">
  </li>
  <li data-target="#article-photo-carousel" data-slide-to="4">
    <img alt="thumb 5" src="{% static 'assetsfcv/img/5.jpg' %}">
  </li>
  <li data-target="#article-photo-carousel" data-slide-to="5">
    <img alt="thumb 6" src="{% static 'assetsfcv/img/6.jpg' %}">
  </li>
</ol> -->

</div>
   <div class="center_home_mi clearfix">
    <h1>TEAMWORK IS AT THE CORE<br> OF OUR SUCCESS </h1>
	<!-- <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Integer Nec Odio Praesent Libero.</p>
	<h5><a class="button" href="#">READ MORE <i class="fa fa-chevron-right"></i></a></h5>
	<h5><a class="button_1" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5> -->
   </div>
 </div>
 
</section>

<section id="trend">
 <div class="container">
  <div class="row">
   <div class="trend_1 clearfix">
    <div class="col-sm-10">
	 <div class="trend_1l clearfix">
	  <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
			      <p><span class="bold"><i class="fa fa-newspaper-o"></i> LATEST NEWS :</span> September 18, 2019 - Wenger says Nasri and gives credits to his former boss for his help.</p>
                </div>
                <div class="item">
               	 <p><span class="bold"><i class="fa fa-newspaper-o"></i> LATEST NEWS :</span> December 12, 2014 - The agawa Wasted at Old Trafford</p>
                </div>
            </div>
        </div>
	  
	 </div>
	</div>
	
	<div class="col-sm-2">
	 <div class="trend_1r text-right clearfix">
	   <div class="controls">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                </div>
	 </div>
	 
	</div>
   </div>
   <div class="trend_2 clearfix">
    <div class="col-sm-4">
	 <div class="trend_2i clearfix">
	  <img src="{% static 'assetsfcv/img/7.jpg' %}" class="iw" alt="abc">
	  <p>No Matter What The Weather, No Matter What The Situation We Are In, If We Have The Right Perspective In Life, Life Will Always Be Beautiful!</p>
	  <h5><a href="#">Slider Post <span class="col_1 pull-right"><i class="fa fa-chevron-right"></i></span></a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="trend_2i clearfix">
	  <img src="{% static 'assetsfcv/img/8.jpg' %}" class="iw" alt="abc">
	  <p>No Matter What The Weather, No Matter What The Situation We Are In, If We Have The Right Perspective In Life, Life Will Always Be Beautiful!</p>
	  <h5><a href="#">PSG sponsorship deal fails The ... <span class="col_1 pull-right"><i class="fa fa-chevron-right"></i></span></a></h5>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="trend_2i clearfix">
	  <img src="{% static 'assetsfcv/img/9.jpg' %}" class="iw" alt="abc">
	  <p>No Matter What The Weather, No Matter What The Situation We Are In, If We Have The Right Perspective In Life, Life Will Always Be Beautiful!</p>
	  <h5><a href="#">Pogba after having another defea... <span class="col_1 pull-right"><i class="fa fa-chevron-right"></i></span></a></h5>
	 </div>
	</div>
   </div>
   <div class="trend_3 clearfix">
    <div class="col-sm-8">
	 <div class="trend_3l clearfix">
	  <h4 class="mgt head_1">LATEST RESULT</h4><br>
	  <img src="{% static 'assetsfcv/img/6.jpg' %}" class="iw" height="400"  alt="abc">
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="trend_3r clearfix">
	  <h4 class="mgt head_1">ADVERTISEMENT</h4><br>
	  <img src="{% static 'assetsfcv/img/10.jpg' %}" class="iw" height="400"  alt="abc">
	 </div>
	</div>
   </div>
  
	

 </div>
</section>




<!-- ==================== Section Modern Match News ==================== -->

<section id="match-news" class="py-5 bg-light">
  <div class="container-fluid">
    <div class="section-title text-center mb-4">
      <h3 class="fw-bold text-uppercase">News</h3>
      <p class="lead">
        The latest news on the FCV website is as follows. Please click on the headline to read the full article.
      </p>
    </div>

    <div class="row g-4">
      <!-- Column 1 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="match-card shadow-lg rounded-4 overflow-hidden h-100">
          <div class="position-relative">
            <img src="{% static 'assetsfcv/img/1.jpg' %}" alt="Match 1" class="w-100 img-fluid" style="height:220px; object-fit:cover;">
            <!-- Score Overlay -->
            <div class="score-overlay">
              <span>2 - 1</span>
            </div>
          </div>
          <div class="p-3">
            <div class="match-title fw-bold text-dark">Team A vs Team B</div>
            <div class="match-date text-muted small mb-2">19 Sep 2025</div>
            <p class="text-muted">The match ended 2-1 in favor of Team A. Goals were scored in the 30th and 75th minutes.</p>
            <a href="#" class="btn btn-custom w-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="match-card shadow-lg rounded-4 overflow-hidden h-100">
          <div class="position-relative">
            <img src="{% static 'assetsfcv/img/1.jpg' %}" alt="Match 2" class="w-100 img-fluid" style="height:220px; object-fit:cover;">
            <div class="score-overlay">
              <span>1 - 1</span>
            </div>
          </div>
          <div class="p-3">
            <div class="match-title fw-bold text-dark">Team C vs Team D</div>
            <div class="match-date text-muted small mb-2">19 Sep 2025</div>
            <p class="text-muted">Team D managed to hold Team C to a 1-1 draw. Team D scored in the final minute.</p>
            <a href="#" class="btn btn-custom w-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="match-card shadow-lg rounded-4 overflow-hidden h-100">
          <div class="position-relative">
            <img src="{% static 'assetsfcv/img/1.jpg' %}" alt="Match 3" class="w-100 img-fluid" style="height:220px; object-fit:cover;">
            <div class="score-overlay">
              <span>3 - 0</span>
            </div>
          </div>
          <div class="p-3">
            <div class="match-title fw-bold text-dark">Team E vs Team F</div>
            <div class="match-date text-muted small mb-2">18 Sep 2025</div>
            <p class="text-muted">Team E won decisively 3-0 against Team F. Team F’s defense could not stop the attacks.</p>
            <a href="#" class="btn btn-custom w-100">Read More</a>
          </div>
        </div>
      </div>

      <!-- Column 4 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="match-card shadow-lg rounded-4 overflow-hidden h-100">
          <div class="position-relative">
            <img src="{% static 'assetsfcv/img/1.jpg' %}" alt="Match 4" class="w-100 img-fluid" style="height:220px; object-fit:cover;">
            <div class="score-overlay">
              <span>0 - 0</span>
            </div>
          </div>
          <div class="p-3">
            <div class="match-title fw-bold text-dark">Team G vs Team H</div>
            <div class="match-date text-muted small mb-2">18 Sep 2025</div>
            <p class="text-muted">The match ended 0-0. Both teams played defensively and failed to score.</p>
            <a href="#" class="btn btn-custom w-100">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
/* Score Overlay */
.score-overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 30px;
  font-size: 14px;
}

/* Custom Button */
.btn-custom {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #3498db, #2980b9);
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(90deg, #2980b9, #1d6fa5);
  transform: scale(1.05);
}
</style>


<br>


<!-- ==================== Section Scheduale ==================== -->


<section id="hasil-pertandingan" class="py-5 bg-light">
  <div class="container-fluid">
    <!-- Title -->
    <h1 class="page-title">SCHEDULE – Christmas Cup 2025</h1>
    <h4 class="text-center">Mehara, Timor-Leste</h4>
    <p class="text-center">
      Click the image to view the full pool schedule results.
    </p>

    <!-- Grid Jadwal -->
    <div class="row g-4">
      <!-- Kolom 1 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="{% static 'assetsfcv/img/scheduale1.jpg' %}" alt="Pool A" class="match-img preview-img">
        <p class="text-center fw-bold mt-2">Pool A</p>
      </div>
      <!-- Kolom 2 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="{% static 'assetsfcv/img/scheduale2.jpg' %}" alt="Pool B" class="match-img preview-img">
        <p class="text-center fw-bold mt-2">Pool B</p>
      </div>
      <!-- Kolom 3 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="{% static 'assetsfcv/img/scheduale1.jpg' %}" alt="Pool C" class="match-img preview-img">
        <p class="text-center fw-bold mt-2">Pool C</p>
      </div>
      <!-- Kolom 4 -->
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="{% static 'assetsfcv/img/scheduale2.jpg' %}" alt="Pool D" class="match-img preview-img">
        <p class="text-center fw-bold mt-2">Pool D</p>
      </div>
    </div>
  </div>
</section>

<!-- Preview Overlay Fullscreen -->
<div id="image-preview-overlay">
  <span id="close-preview">&times;</span>
  <img id="preview-img" src="" alt="Preview">
</div>

<style>
  /* Title modern */
  .page-title {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  /* Gambar jadwal */
  .match-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .match-img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  }

  /* Overlay fullscreen */
  #image-preview-overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #image-preview-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255,255,255,0.3);
  }
  #close-preview {
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 48px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
  }
  #close-preview:hover {
    color: #ff4b2b;
  }
</style>

<script>
  const overlay = document.getElementById('image-preview-overlay');
  const previewImg = document.getElementById('preview-img');
  const closeBtn = document.getElementById('close-preview');

  // Klik gambar → tampilkan preview
  document.querySelectorAll('.preview-img').forEach(img => {
    img.addEventListener('click', () => {
      previewImg.src = img.src;
      overlay.style.display = 'flex';
    });
  });

  // Klik tombol X → tutup preview
  closeBtn.addEventListener('click', () => {
    overlay.style.display = 'none';
  });

  // Klik area gelap overlay → tutup preview
  overlay.addEventListener('click', (e) => {
    if(e.target === overlay) overlay.style.display = 'none';
  });
</script>




<div class="row">


  <!-- ==================== LIST OF CLUB ==================== -->
  <div class="col-md-4">
    <div class="trend_4im">
      <h4 class="head_1 text-center">LIST OF CLUB</h4>
      <div class="table-responsive">
        <table class="table table-modern text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Logo</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><img src="{% static 'assetsfcv/img/logo_fcv.png' %}" class="team-logo" alt="FCV"></td>
              <td>FCV</td>
            </tr>
            <tr>
              <td>2</td>
              <td><img src="{% static 'assetsfcv/img/logo_fcv.png' %}" class="team-logo" alt="SEMPER"></td>
              <td>SEMPER</td>
            </tr>
            <tr>
              <td>3</td>
              <td><img src="{% static 'assetsfcv/img/logo_fcv.png' %}" class="team-logo" alt="PORTA"></td>
              <td>PORTA</td>
            </tr>
            <tr>
              <td>4</td>
              <td><img src="{% static 'assetsfcv/img/logo_fcv.png' %}" class="team-logo" alt="EGET CLUB"></td>
              <td>EGET CLUB</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

   <!-- ==================== STANDINGS ==================== -->
  <div class="col-md-4">
    <div class="trend_4im">
      <h4 class="head_1 text-center">STANDINGS</h4>
      <div class="table-responsive">
        <table class="table table-modern text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>TEAM</th>
              <th>P</th>
              <th>W</th>
              <th>L</th>
              <th>D</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>FC VER OPIRA</td>
              <td>10</td>
              <td>4</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <td>2</td>
              <td>FC ZONA LESTE</td>
              <td>10</td>
              <td>5</td>
              <td>2</td>
              <td>3</td>
            </tr>
            <tr>
              <td>3</td>
              <td>PORTA</td>
              <td>10</td>
              <td>3</td>
              <td>4</td>
              <td>3</td>
            </tr>
            <tr>
              <td>4</td>
              <td>EGET CLUB</td>
              <td>10</td>
              <td>2</td>
              <td>5</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- ==================== TODAY MATCH ==================== -->
  <div class="col-md-4">
    <div class="trend_4im">
      <h4 class="head_1 text-center">TODAY MATCH</h4>
      <div class="table-responsive">
        <table class="table table-modern text-center">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Team A</th>
              <th>VS</th>
              <th>Team B</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>20 Sep 2025</td>
              <td>15:00</td>
              <td>FCV</td>
              <td>VS</td>
              <td>SEMPER</td>
              <td><span class="badge status-upcoming">Upcoming</span></td>
            </tr>
            <tr>
              <td>21 Sep 2025</td>
              <td>18:00</td>
              <td>PORTA</td>
              <td>VS</td>
              <td>EGET CLUB</td>
              <td><span class="badge status-upcoming">Upcoming</span></td>
            </tr>
            <tr>
              <td>22 Sep 2025</td>
              <td>20:00</td>
              <td>SEMPER</td>
              <td>VS</td>
              <td>FCV</td>
              <td><span class="badge status-upcoming">Upcoming</span></td>
            </tr>
          </tbody>
        </table>
		
      </div>
    </div>
  </div>



  
 
</div>




<section id="visit">
 <div class="visit_m clearfix">
   <div class="container">
  <div class="row">
   <div class="visit clearfix">
    <div class="col-sm-5">
	 <div class="visit_l clearfix"></div>
	</div>
	<div class="col-sm-7">
	 <div class="visit_r mgt clearfix">
	  <div class="col-sm-10 space_left">
	   <div class="visit_rl clearfix">
	    <h4 class="mgt col">TOP CLASS ACADEMY</h4>
		<p class="col_3">Bhrough tarantula before wherever frog far across ubiquitously and rash that more and disrespectfully grunted less.</p>
	   </div>
	  </div>
	  <div class="col-sm-2 space_right">
	   <div class="visit_rr clearfix">
	    <span class="col"><i class="fa fa-trophy"></i></span>
	   </div>
	  </div>
	 </div>
	 <div class="visit_r clearfix">
	  <div class="col-sm-10 space_left">
	   <div class="visit_rl clearfix">
	    <h4 class="mgt col">LEADIES TEAM</h4>
		<p class="col_3">Bhrough tarantula before wherever frog far across ubiquitously and rash that more and disrespectfully grunted less.</p>
	   </div>
	  </div>
	  <div class="col-sm-2 space_right">
	   <div class="visit_rr clearfix">
	    <span class="col"><i class="fa fa-female"></i></span>
	   </div>
	  </div>
	 </div>
	 <div class="visit_r clearfix">
	  <div class="col-sm-10 space_left">
	   <div class="visit_rl clearfix">
	    <h4 class="mgt col">UNDER 21 TEAM</h4>
		<p class="col_3">Bhrough tarantula before wherever frog far across ubiquitously and rash that more and disrespectfully grunted less.</p>
	   </div>
	  </div>
	  <div class="col-sm-2 space_right">
	   <div class="visit_rr clearfix">
	    <span class="col"><i class="fa fa-flag"></i></span>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="team_h">
  <div class="container">
    <div class="row">
      <div class="team_h1 clearfix">
        <div class="col-sm-12">
          <h4 class="mgt head_1">TEAM MEMBER</h4>
          <br>
        </div>
      </div>

      <div class="players_1 clearfix">
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="{% static 'assetsfcv/img/12.jpg' %}" class="iw" alt="Goalkeeper - Semp Port">
            <h4 class="bold"><a class="col_1" href="#">Semp Port</a></h4>
            <h5>GOALKEEPER</h5>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="{% static 'assetsfcv/img/13.jpg' %}" class="iw" alt="Attacker - Ante Dapibus">
            <h4 class="bold"><a class="col_1" href="#">Ante Dapibus</a></h4>
            <h5>ATTACKER</h5>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="{% static 'assetsfcv/img/14.jpg' %}" class="iw" alt="Defender - Nulla Quis">
            <h4 class="bold"><a class="col_1" href="#">Nulla Quis</a></h4>
            <h5>DEFENDER</h5>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="{% static 'assetsfcv/img/15.jpg' %}" class="iw" alt="Midfielder - Sed Augue">
            <h4 class="bold"><a class="col_1" href="#">Sed Augue</a></h4>
            <h5>MIDFIELDER</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="feature">
 <div class="container">
   <div class="row">
     <div class="feature_1 clearfix">
	  <div class="col-sm-8">
	   <div class="feature_1l clearfix">
	     <h4 class="mgt head_1">FEATURED NEWS</h4><br>
		 <div class="feature_1li clearfix">
		  <div class="col-sm-4 space_all">
		   <div class="feature_1lil clearfix">
		    <a href="#"><img src="{% static 'assetsfcv/img/8.jpg' %}" height="240" class="iw" alt="abc"></a>
		   </div>
		  </div>
		  <div class="col-sm-8 space_all">
		   <div class="feature_1lir clearfix">
		    <h6 class="mgt">April 25, 2014</h6>
			<h4><a href="#">Game ban after spat with officials.</a></h4>
			<p class="font_16">Game ban after spat with officials.
Hound a shrewd swung some inside shuffled more a the gosh into ubiquitous comfortable after one and that a outside yellow snorted less through over shook b...</p>
            <hr>
			<h5><a class="col_2" href="#">Top stories</a></h5>
		   </div>
		  </div>
		 </div>
	   </div>
	  </div>
	  <div class="col-sm-4">
	   <div class="feature_1r clearfix">
	    <h4 class="mgt head_1">MEDIA WATCH</h4><br>
		<div class="feature_1ri clearfix">
		 <div class="col-sm-10 space_left">
		  <div class="feature_1ril clearfix">
		   <p class="mgt"><a href="#">Game ban after spat with officials..</a></p>
		  </div>
		 </div>
		 <div class="col-sm-2 space_right">
		  <div class="feature_1rir text-right clearfix">
		   <h3 class="mgt">22 <span class="col_2 small_tag">MAY</span></h3>
		  </div>
		 </div>
		</div>
		<div class="feature_1ri clearfix">
		 <div class="col-sm-10 space_left">
		  <div class="feature_1ril clearfix">
		   <p class="mgt"><a href="#">keen to add to his side’s.</a></p>
		  </div>
		 </div>
		 <div class="col-sm-2 space_right">
		  <div class="feature_1rir text-right clearfix">
		   <h3 class="mgt">21 <span class="col_2 small_tag">APR</span></h3>
		  </div>
		 </div>
		</div>
		<div class="feature_1ri clearfix">
		 <div class="col-sm-10 space_left">
		  <div class="feature_1ril clearfix">
		   <p class="mgt"><a href="#">impressive seven in his first four games.</a></p>
		  </div>
		 </div>
		 <div class="col-sm-2 space_right">
		  <div class="feature_1rir text-right clearfix">
		   <h3 class="mgt">12 <span class="col_2 small_tag">JAN</span></h3>
		  </div>
		 </div>
		</div>
		<div class="feature_1ri clearfix">
		 <div class="col-sm-10 space_left">
		  <div class="feature_1ril clearfix">
		   <p class="mgt"><a href="#">No team relishes a trip to the Britannia Stadium.</a></p>
		  </div>
		 </div>
		 <div class="col-sm-2 space_right">
		  <div class="feature_1rir text-right clearfix">
		   <h3 class="mgt">18 <span class="col_2 small_tag">FEB</span></h3>
		  </div>
		 </div>
		</div>
		<div class="feature_1ri clearfix">
		 <div class="col-sm-10 space_left">
		  <div class="feature_1ril clearfix">
		   <p class="mgt"><a href="#">This Way Might not be the Wrong Way.</a></p>
		  </div>
		 </div>
		 <div class="col-sm-2 space_right">
		  <div class="feature_1rir text-right clearfix">
		   <h3 class="mgt">27 <span class="col_2 small_tag">JUL</span></h3>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
   </div>
 </div>
</section>

<section id="review_home">
 <div class="container">
  <div class="row">
   <div class="review_home_1 clearfix">
	<div class="col-sm-6">
	 <div class="review_home_1r clearfix">
	  <img src="{% static 'assetsfcv/img/16.jpg' %}" class="iw" alt="abc">	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="review_home_1l clearfix">
	  <h2 class="mgt">Review Of The Season</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit nisi pulvinar, dapibus elit malesuada.</p>
	  <div class="review_home_1li clearfix">
	   <h5>STRATEGY <span class="pull-right">90%</span></h5>
	   <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">            </div>
        </div>
	  </div>
	  <div class="review_home_1li clearfix">
	   <h5>DESIGN <span class="pull-right">70%</span></h5>
	   <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">            </div>
        </div>
	  </div>
	  <div class="review_home_1li clearfix">
	   <h5>MARKETING <span class="pull-right">65%</span></h5>
	   <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 65%">            </div>
        </div>
	  </div>
	  <div class="review_home_1li clearfix">
	   <h5>DEVELOPMENT <span class="pull-right">95%</span></h5>
	   <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 95%">            </div>
        </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="achieve">
 <div class="container">
  <div class="row">
   <div class="achieve_1 clearfix">
    <div class="col-sm-4">
	 <div class="achieve_1m clearfix">
	  <div class="achieve_1mi clearfix">
	   <img src="{% static 'assetsfcv/img/17.jpg' %}" class="iw" alt="abc">	  </div>
	  <div class="achieve_1mi1 text-center clearfix">
	   <span class="col"><i class="fa fa-star-o"></i></span>
	   <h3 class="bold col">League Cup</h3>
	   <p class="col">Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur sed pharetra turpis.</p>
	   <h5><a class="button" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="achieve_1m clearfix">
	  <div class="achieve_1mi clearfix">
	   <img src="{% static 'assetsfcv/img/18.jpg' %}" class="iw" alt="abc">	  </div>
	  <div class="achieve_1mi1 text-center clearfix">
	   <span class="col"><i class="fa fa-trophy"></i></span>
	   <h3 class="bold col">Championship</h3>
	   <p class="col">Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur sed pharetra turpis.</p>
	   <h5><a class="button" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="achieve_1m clearfix">
	  <div class="achieve_1mi clearfix">
	   <img src="{% static 'assetsfcv/img/19.jpg' %}" class="iw" alt="abc">	  </div>
	  <div class="achieve_1mi1 text-center clearfix">
	   <span class="col"><i class="fa fa-clock-o"></i></span>
	   <h3 class="bold col">Associations</h3>
	   <p class="col">Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur sed pharetra turpis.</p>
	   <h5><a class="button" href="#">SEE MORE <i class="fa fa-chevron-right"></i></a></h5>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="counting">
 <div class="container">
  <div class="row">
   <div class="counting_1 clearfix">
    <div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-gamepad"></i></span>
	  <h1>244</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-fire"></i></span>
	  <h1>116</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-shield"></i></span>
	  <h1>24</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="counting_1 text-center clearfix">
	  <span><i class="fa fa-globe"></i></span>
	  <h1>2001</h1>
	  <h4>League Cup Games</h4>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-4">
	 <div class="footer_1l clearfix">
	  <h4 class="mgt head_1 col">ABOUT US</h4>
	  <h5 class="col_3">Rash that more and Disrespect fully grunt less. Through tarantula before wherever</h5>
	  <p class="font_16 col_2">Before wherever frog far across ubiquitously and rash that more and disrespect fully grunt less. Best Through tarantula before wherever frog far across ubiquitously and rash that more and disrespect fully</p>
	  <h6 class="col_2">Address : 269 Main Street<br>
London England<br>
Call : +1800-222-3333</h6>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1m  clearfix">
	  <h4 class="mgt head_1 col">FLICKR GALLERY</h4>
	  <ul>
	   <li><a href="#"><img src="{% static 'assetsfcv/img/20.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/21.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/22.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/23.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/24.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/25.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/26.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/27.jpg' %}" width="100" height="100" alt="abc"></a></li>
      <li><a href="#"><img src="{% static 'assetsfcv/img/28.jpg' %}" width="100" height="100" alt="abc"></a></li>

	  </ul>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1r clearfix">
	   <h4 class="mgt head_1 col">WEEKLY NEWSLETTER</h4>
	   <p class="col_2 font_16">Through tarantula before wherever frog far across ubiquitously and rash that more and disrespectful.Before wherever frog far across ubiquitously and rash that more and disrespect fully grunt less. Best Through tarantula before wherever frog far across ubiquitously and rash that more and disrespect fully</p>
	   <div class="input-group clearfix">
					<input type="text" class="form-control" placeholder="Sign Up">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">
							Go</button>
					</span>
				 </div>
	  <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="footer_b clearfix">
	 <div class="col-sm-5 space_left">
	  <div class="footer_br clearfix">
	  <ul class="mgt">
	   <li>
		<a href="#">Our Policy</a>
		<a href="#">Shipping</a>
		<a href="#">Terms & Conditions</a>
		<a class="border_none" href="#">Refund Policy</a>
	   </li>
	  </ul>
	 </div>
	 </div>
	 <div class="col-sm-7 space_left">
	  <div class="footer_bl  text-right clearfix">
	   <p class="mgt">© 2013 Ver-Opira FC. All Rights Reserved | Develop & Maintained by <a class="col_1" href="https://joanicojdc.onrender.com/">Nicho</a></p>
	  </div>
	 </div>
   </div>
  </div>
 </div>
</section>

<script>
$(document).ready(function(){

/*****Fixed Menu******/
var secondaryNav = $('.cd-secondary-nav'),
   secondaryNavTopPosition = secondaryNav.offset().top;
	$(window).on('scroll', function(){
	    var navbar_height = document.querySelector('.navbar').offsetHeight;
		var top = 30;
		if($(window).scrollTop() > secondaryNavTopPosition ) {
			secondaryNav.addClass('is-fixed');	
			$("body").css("padding-top", navbar_height);
		} else {
			secondaryNav.removeClass('is-fixed');
			$("body").css("padding-top", 0);
		}
	});	
	
});
</script>

<script>
	// Generated by CoffeeScript 1.7.1
$(document).ready(function() {
  $(".carousel").carousel({
    interval: 2000
  });
  $(".carousel").on("slid", function() {
    var to_slide;
    to_slide = $(".carousel-item.active").attr("data-slide-no");
    $(".myCarousel-target.active").removeClass("active");
    $(".carousel-indicators [data-slide-to=" + to_slide + "]").addClass("active");
  });
  $(".myCarousel-target").on("click", function() {
    $(this).preventDefault();
    $(".carousel").carousel(parseInt($(this).attr("data-slide-to")));
    $(".myCarousel-target.active").removeClass("active");
    $(this).addClass("active");
  });
});

</script>    

</body>
 
</html>
